.left{
color: aqua;
border: 2px solid rgb(254, 188, 5);
display: inline-block;
position: absolute;
top: 10px
}
.mid a:hover, a:active{
    color: grey;
}
.mid{
color: aqua;
width: 30%;
margin:10px auto;
}
.right{
color: rgb(244, 244, 244);

display:inline-block ;
position: absolute;
right: 00px;
top:10px;
}
.right a:hover, a:active{
    color: grey;
}

.right a{
    color: white;
    padding: 30px 20px;
    position: relative;top:10px;
    font-size: large;
    text-decoration: none;

}

.navbar li{
    display: inline;

}
.navbar li a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 19px;

}
p{
    color: rgb(171, 194, 0);
  position: relative;left: 50px;
 font-size: large;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.left img{
    width: 55px;
}
.container{
    border: 6px solid rgb(0, 0, 0);
    padding: 2px;
    width: 450px;
    height:600px;
    margin: 50px;
    border-radius:14%;
    background-color: rgb(49, 44, 44);

}
input{
  position: relative;left: 150px;bottom: 37px;
  size: 500px;
}
h1{
    color: red;
    text-align: center;
    text-decoration: double;
    border: 4px solid blueviolet;
    border-radius: 12%;
    background-color: black;
    position: relative;bottom:32px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
select{
    position: relative;left: 150px; bottom: 37px; 
}
textarea{
    position:absolute;
    top:515px;
    left: 215px;
}
